html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(53, 53, 53); /* Set background color for both html and body */
}

.App {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
}
